@{
    ViewData["Title"] = "Home Page";
}

@inject CounterService counterService
@model IQueryable<Customers>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
	<thead>
		<tr>
			<th>CustomerID</th>
			<th>CompanyName</th>
			<th>ContactName</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Customers c in Model)
		{
			<tr>
				<td>@c.CustomerId</td>
				<td>@c.CompanyName</td>
				<td>@c.ContactName</td>
			</tr>
		}
	</tbody>
</table>